<head>
<meta name="viewport" content="width=device-width, initial-scale=0.9">
<link rel="stylesheet" type="text/css" href="/static/bio.css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

</head>

<body>
<div class="card">
  <img src="{{image}}" alt="John" style="width:100%">
  <h1 style="font-family:verdana; color:white;">{{name}}</h1>
  <p style="font-family:verdana; color:white;" class="title">{{description}}</p>
  <p>UFM</p>
  <div id="wrapper">
  <input type="checkbox" class="checkbox" id="share" checked />
  <label for="share" class="label entypo-export"><i class="fa fa-share" aria-hidden="true"></i></label>
  <div class="social">
    <ul>
      <li class="entypo-twitter"><a href="{{link[0]}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="entypo-youtube"><a href="{{link[1]}}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li class="entypo-facebook"><a href="{{link[2]}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>    
      <li class="entypo-gplus"><a href="{{link[3]}}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="entypo-instagram"><a href="{{link[4]}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li class="entypo-dropbox"><a href="{{link[5]}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></li>
      <li class="entypo-github"><a href="{{link[6]}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>      
    </ul>
  </div>
</div>

  
</div>

</body>